
.sample-data table { width: 100%; }
.sample-data th { font-weight: bold; border-bottom: 1px solid #d8d8d8; }
.sample-data th,td { padding: 5px; width: 50%; text-align: center; }
.sample-data td { background-color: #f2f2f2; }

